.store_subbanner_wrap {overflow:hidden;}
    .search-message {display:none; margin:-9px 0 -8px 0; opacity:0;}
    .search-message p {padding:0; margin:0 20px 0 0; color:#16448E; font-weight:600; font-size:18px; line-height:26px; display:inline-block; vertical-align:middle;}
    .search-message a {text-decoration:none; text-transform:uppercase; display:inline-block; vertical-align:middle; font-weight:600; color:#ffffff; font-size:14px; line-height:20px; background-color:#16448E; border-radius:5px; padding:7px 16px 8px 16px;}
    .search-message a:hover {color:#fff303;} 
    
    .opt5-v2 #wpsl-result-list {float:left; width:43.86%; margin:0 2.9% 0 0; padding:0;}
    .opt5-v2 #wpsl-gmap {float:right; width:53.24%; margin:14px 0 0 0; padding:0; height:1000px !important}
    
    .opt5-v2 #wpsl-result-list li {padding-right:0 !important; padding-bottom:5px !important;}
    .opt5-v2 #wpsl-result-list .wpsl-store-location .store_img {float:right; padding:0 !important; margin:4px 0 0 3% !important; width:38.6% !important;}
    .opt5-v2 #wpsl-result-list .wpsl-store-location .store_img img {margin:0; display:block; width:100% !important; height:97px !important; object-fit:cover;}
    .opt5-v2 #wpsl-result-list .wpsl-store-location .store_add {padding:0 !important; margin:0% !important;} 
    .opt5-v2 #wpsl-result-list .wpsl-store-location .wpsl-view-more-wrap {float:left; width:30%; margin:0 5% 10px 0 !important; display:block;}
    .opt5-v2 #wpsl-result-list .wpsl-store-location .wpsl-direction-wrap {float:left; width:30%; margin:0 0 10px 0 !important; display:block;}
    .opt5-v2 #wpsl-result-list .wpsl-store-location .buttons {clear:both;}
    .opt5-v2 #wpsl-result-list .wpsl-store-location .buttons a:hover {color:#fff303;} 
    
    
    /***** Media Queries *****/
    @media screen and (max-width: 960px){
        .opt5-v2 .wpsl-search {top:430px !important;}
        .opt5-v2 #wpsl-result-list {float:none; width:auto; margin:0;}
        .opt5-v2 #wpsl-gmap {float:none; width:auto; margin:0 0 15px 0; height:300px !important; max-height:300px !important;}
    }
    
    
    @media screen and (max-width: 767px){
        .opt5-v2 .wpsl-search {top:auto !important;}
        .opt5-v2.submited .wpsl-search {margin:0 0 0 0; padding:0;}
        .opt5-v2.submited .wpsl-search label {margin:0;}
        .opt5-v2.submited .breadcrumb_area {margin-bottom:-51px;}
        .search-message {display:none !important;}
        .opt5-v2 #wpsl-gmap {margin:10px 0 12px 0;}
        .opt5-v2 #wpsl-result-list .wpsl-store-location .store_add {float:none !important; width:100% !important;}
        .opt5-v2 #wpsl-result-list .wpsl-store-location .store_img {float:left; clear:left; width:51% !important; margin:0 1.6% 0 0 !important;}
        .opt5-v2 #wpsl-result-list .wpsl-store-location .store_img img {height:92px !important;}
        .opt5-v2 #wpsl-result-list .wpsl-store-location .buttons {clear:none; float:left; width:47.4%;}
        .opt5-v2 #wpsl-result-list .wpsl-store-location .wpsl-view-more-wrap {float:none; width:100%; margin:0 0 4px 0 !important;}
        .opt5-v2 #wpsl-result-list .wpsl-store-location .wpsl-direction-wrap {float:none; width:100%; margin:0 0 4px 0 !important;}
        .opt5-v2 #wpsl-result-list li {padding-right:0 !important; padding-bottom:14px !important; padding-top:13px !important;}
    }