.opt-1 {
    font: "Open Sans";   
}

.opt-1.thinner {
   font-size: 22px;
   font-weight: 625;
   padding-bottom: 20px;
   color: #194d99;
}

.opt-1.wrap {
   position: relative;
   background-color: #194d99;
   width: 80%;
   padding: 0px 10px 0px 15px;
   border-radius: 10px;
   margin-bottom: 30px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
       -ms-flex-pack: justify;
           justify-content: stretch;
}

.opt-1.wrap2 {
   width: 80%;
   float:left;
   display:-webkit-box;
   display:-ms-flexbox;
   display:flex;
   -webkit-box-pack: justify;
       -ms-flex-pack: justify;
           justify-content: space-between;
}

.opt-1.wrap3 {
   width: 80%;
}

.opt-1.incframe {
   background-color: red;
   border-radius: 2px;
   max-width: 110px;
   padding: 4px 5px 4px 5px;
   -webkit-transform: rotate(-12deg);
       -ms-transform: rotate(-12deg);
           transform: rotate(-12deg);
   position: absolute;
   left: 0;
   color: white;
   font-size: 15px;
   font-weight: 1000;
   text-align: center;
   line-height: 0.8;
}

.opt-1.picture {
   width: 90%;
   padding-top: 50px;
   padding-bottom: 20px;
}

.opt-1.lhs {
   width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
   -webkit-box-flex: 1;
       -ms-flex-positive: 1;
           flex-grow: 1;
   height: 100%;
}

.opt-1.rhs {
   width: 55%;
   position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex:1;
      -ms-flex-positive:1;
          flex-grow:1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 15px;
}

.opt-1.boxhead {
   font-size: 22px;
   font-weight: 625;
   margin: 0;
   padding-bottom: 15px;
   padding-top: 5px;
   color: white;
}

.opt-1.content-title {
   color: white;
   font-size: 30px;
   font-weight: 1000;
   margin-bottom: 10px;
}


.opt-1.fone {
   width: 90%;
   padding: 5px 0 5px 0;
   background: yellow;
   color: #194d99;
   font-size: 22px;
   font-weight: 625;
   text-align: center;
   border-radius: 5px;
}

.opt-1.bigyellow {
   font-size: 45px;
   font-weight: 625;
   color: yellow;
}

.opt-1.boxbod {
   color: white;
   font-size: 20px;
   font-weight: 900;
   margin-bottom: 5px;
   -webkit-box-flex: 1;
       -ms-flex-positive: 1;
           flex-grow: 1;
}

.opt-1.rhs ul {
    color: white;
   font-size: 16px;
   font-weight: 800;
}

.opt-1.sub-button h2 {
   color: white;
   font-size: 20px;
   font-weight: 1000;
   margin:0;
   line-height: 1;
}

.opt-1.sub-button {
   position: relative;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
   border-radius: 5px;
   margin-bottom: 30px;
   background-color: #194d99;;
   width: 48%;
}

.opt-1.rhs ul li span {
   margin-right: 7px;
}

.opt-1.suba {
   float: left;
}     

.opt-1.subb {
   float: right;
}

.opt-1.nofuss {
   background-color: yellow;
   font-size: 16px;
   font-weight: 800;
   color: #194d99;
   -webkit-transform: rotate(9deg);
       -ms-transform: rotate(9deg);
           transform: rotate(9deg);
   position: absolute;
   right: -10px;
   top: -5px;
}

.opt-1.fcenter {
   margin: auto;
   text-align: center;
   margin-bottom: 15px;
   -webkit-box-flex: 1;
       -ms-flex-positive: 1;
           flex-grow: 1;
}

.opt-1.sub-pic {
   display: inline-block;
   width: 25%;
   margin: 0 10px 10px 15px;
}

.opt-1.sub-content {
   display: inline-block;
   width: 60%;
   color: white;
   font-size: 12px;
   font-weight: 650;
   line-height: 1;
}

.opt-1.from {
    font-size: 16pt;
   font-weight: 700;
}

.opt-1.sub-top {
   vertical-align: middle;
   padding: 20px 10px 10px 10px;
   -webkit-box-flex: 1;
       -ms-flex-positive: 1;
           flex-grow: 1;
}

.opt-1.contmid {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   padding-bottom: 5px;
}

.opt-1.sub-bot {
   margin: auto;
   margin-bottom: 10px;
   font-weight: 1000;
}

.opt-1.bot-button {
   padding: 10px 0 10px 0;
   border-radius: 3px;
   background-color: yellow;
   border: 2px solid #194D99;
   width: 48%;
   color: #194d99;
   font-size: 22px;
   font-weight: 625;
   text-align: center;
   margin-top: 30px;
   margin-bottom: 30px;
}

.col-md-5.video-area {
   display: none;
}


@media (max-width: 767px) {
   .opt-1.wrap,.opt-1.wrap2,.opt-1.wrap3{
       width: 100%;
   }
}

@media (max-width: 470px) {
   .opt-1.bigyellow {
       font-size: 30px;
   }
   .opt-1.boxhead {
        font-size: 18px;   
   }
   .opt-1.boxbod {
        font-size: 16px;   
   }
   .opt-1.rhs li{
        font-size: 12px;   
   }
   .opt-1.sub-top h2{
        font-size: 18px;   
   }
   .opt-1.from {
        font-size: 12pt;   
   }
   .opt-1.sub-content {
        font-size: 11px;   
   }
   .opt-1.fone {
        font-size: 16px;   
   }
   .opt-1.bot-button {
        font-size: 16px;   
   }
}

@media (max-width: 390px) {
   .opt-1.bigyellow {
       font-size: 20px;
   }
   .opt-1.sub-top h2{
        font-size: 14px;   
   }
   .opt-1.from {
        font-size: 10pt;   
   }
   .opt-1.sub-content {
        font-size: 8px;   
   }
   .opt-1.fone {
        font-size: 13px;   
   }
}  