.optStep1,
.optStep2 {
    display: none;
}
.optShow {
    display: block;
}
.opt1 .material_enq_wrapper {
    display: none;
}
.optNext {
    width: 100%;
    background: #FFEE00;
    margin-bottom: 19px;
    text-align: center;
    padding: 12px;
    color: #00449A;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.opt1 .contact-front {
    border: 0;
    border-bottom: 7px solid #00449A;
    background: #F8F7F7;
    width: 100%;
    max-width: 420px;
    margin: 0 auto 20px;

}
.opt1 .wpcf7-form .wpcf7-submit {
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: bold;
}

.opt1 #form-right1 .form-content {
 	position: relative;   
}



.opt1 #form-right1 .form-content:before {
 	content:"";
    width: -webkit-calc(100% + 44px);
    width: calc(100% + 44px);
	height: 100%;
    position: absolute;
    background: #194d99;
    left: -22px;
    top: 0px;
    z-index: -10;
    
}

.opt1 #form-right1 .form-content:after {
 	content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 328px 232px 0 232px;
    border-color: #194d99 transparent transparent transparent;
    z-index: -11;
    top: 69px;
    position: absolute;
    left: -22px;
}

@media (max-width: 1199px) {
    .opt1 #form-right1 .form-content:after {
        border-width: 328px 194px 0 194px;
    }

}

@media (max-width: 1024px) {
    .opt1 #form-right1 .form-content:after {
    	border-width: 328px 212px 0 212px;	
    }

}

@media (max-width: 991px) {
    .opt1 #form-right1 .form-content:after {
    border-width: 328px 232px 0 232px;
    }

}

@media (max-width: 768px) {
    .opt1 .contact-front {
        float: none;
    }

}

@media (max-width: 465px) {
        .opt1 #form-right1 .form-content:after {
            display: none;
    }
        .opt1 #form-right1 .form-content:before {
     	display: none;       
    }
}