.opt_cvpcontainer {
    background: white;
}
.opt_cvpcontainer .opt_DefaultContainer {
    max-width: 1170px;
    margin: auto;
    padding: 13px;
    padding-left: 15px;
    padding-right: 15px;
    background: white;
    justify-content: space-between;
}

.opt_cvpcontainer p {
    line-height: 22px;
    color: #424876;
    font-size: 18px;
    font-weight: 400;
    font-family: "Rubik", sans-serif;
    display: flex;
    align-items: center;
    margin-top: 3px;
}

.opt_MarginLeft {
    margin-left:5px;
}

.opt_cvpcontainer .opt_CVPModule_slide {
    display: flex;
    align-items: center;
}

.opt_cvpcontainer .opt_CVPModule_slide strong {
    font-weight: 500;
}

.opt_cvpcontainer .opt_CVPModule_slide img {
    margin: 0 10px 0 20px;
}

.opt_cvpcontainer .opt_CVPModule_slide img:nth-child(1) {
    margin: 0 10px 0 0px;
}

.opt_cvpcontainer .opt_CVPModule_slide img.opt_Image {
    max-width: 31px;
}

.opt_cvpcontainer .opt_CVPModule_slide a {   
    display: flex;
    align-items: center;
}

.opt_Button {
	background-color: #1C70F2;
    padding: 10px 30px;
    border-radius: 35px;
    color: white;
    margin-left: 30px;
}

@media (max-width: 1050px) {
    .opt_cvpcontainer p {
        font-size: 16px;   
    }
    .opt_cvpcontainer .opt_CVPModule_slide img {
        max-width: 150px;
    }
    .opt_Button {
        margin-left: 10px;   
    }
}

@media (max-width: 980px) {
     .opt_CVPContainer.opt_DefaultContainer #slide_1 {
        display: none;
    }
}

@media (max-width: 690px) {
    .opt_CVPContainer.opt_DefaultContainer #slide_0 {
        display: none;        
    }
    .opt_CVPContainer.opt_DefaultContainer #slide_2 {
        width: 100%;
        position: sticky;
    }
    .opt_CVPContainer.opt_DefaultContainer #slide_2 a{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .opt_stickyit {
        margin-top: 50px;   
    }
    .opt_stickyit .opt_CVPContainer.opt_DefaultContainer {
        position: fixed;
        top: 0;
        z-index: 9999999;
        width: 100%;
    }
}

@media (max-width: 690px) {
    .opt_cvpcontainer .opt_CVPModule_slide img {
        max-width: 120px;       
    }
}