.opt02-v2 #menu {
	float: left;
}
.opt02-v2 .menu-overlay {
	background-color: rgba(0, 0, 0, 0.40);
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 120%;
	z-index: 5000;
	display: none;
}
.opt02-v2 .sidebar-wrap {
	position: fixed;
	left: -270px;
	top: 0;
	width: 270px;
	height: 100%;
	overflow: hidden;
	background-color: #555658;
	z-index: 6000;
	text-align: left;
}
.opt02-v2 .sidebar-wrap .sidebar-inner {
	position: relative;
	height: 100%;
	overflow: auto;
}
.opt02-v2 .sidebar-wrap .sidebar-buttons {
	background-color: #555658;
	z-index: 100;
	position: relative;
	height: 37px;
}
.opt02-v2 .sidebar-nav.primary ul {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 270px;
}
.opt02-v2 .sidebar-nav.primary ul li {
	list-style: none;
	padding: 0;
	margin: 0;
	display: block;
	position: static;
}
.opt02-v2 .sidebar-nav.primary ul li a {
	display: block;
	text-decoration: none;
	font-size: 14px;
	color: #ffffff;
	font-weight: 400;
	padding: 8px 21px 9px 9px !important;
	border-bottom: 1px solid #ffffff !important;
	background-color: #555658;
	text-align: left;
	position: relative;
}
.opt02-v2 .sidebar-nav.primary ul li a i {
	float: right;
	position: absolute;
	right: 9px;
	top: 50%;
	margin-top: -8px;
}
.opt02-v2 .sidebar-nav.primary ul li ul li a {
	background-color: #6e6e6e;
}
.opt02-v2 .sidebar-nav.primary ul li a:hover {
	color: #17448e !important;
	background-color: #feef05 !important;
}
.opt02-v2 .sidebar-nav.primary ul li ul {
	display: none;
	position: absolute;
	left: 270px;
	top: 0;
	width: 270px;
	height: 100%;
	overflow: auto;
	background-color: #6e6e6e;
	z-index: 6000;
}
.opt02-v2 .sidebar-nav.secondary ul {
	list-style: none;
	padding: 5px 0 15px 0;
	margin: 0;
	background-color: #e8e8e6;
}
.opt02-v2 .sidebar-nav.secondary ul li {
	list-style: none;
	padding: 0;
	margin: 0;
	display: block;
}
.opt02-v2 .sidebar-nav.secondary ul li a {
	display: block;
	text-decoration: none;
	font-size: 14px;
	color: #17448e;
	font-weight: 400;
	padding: 2px 9px 2px 9px !important;
	background-color: #e8e8e6;
	text-align: left;
}
.opt02-v2 .sidebar-nav.secondary ul li a:hover {
	color: #17448e;
	background-color: #feef05;
}
.opt02-v2 .sidebar-wrap .close-sidebar-nav {
	position: absolute;
	font-size: 20px;
	color: #ffffff;
	text-decoration: none;
	right: 9px;
	top: 2px;
	z-index: 100;
}
.opt02-v2 .sidebar-wrap .back-sidebar-nav {
	dipslay: none;
	position: absolute;
	font-size: 14px;
	color: #ffffff;
	text-decoration: none;
	display: none;
	left: 9px;
	top: 5px;
	z-index: 100;
}
.opt02-v2 .sidebar-wrap .back-sidebar-nav i {
	font-size: 20px;
	position: relative;
	top: 1px;
}
.opt02-v2 .sidebar-wrap .search-form {
	display: block !important;
	border: 1px solid #17448e;
	position: relative;
	padding: 0 32px 0 0;
	top: auto;
	right: auto;
}
.opt02-v2 .sidebar-wrap .search-form input[type="search"] {
	width: 100%;
	height: 28px;
	line-height: 28px;
	padding: 0 0 0 8px;
	background-color: #ffffff;
	border: none;
	color: #aeaeae;
	font-size: 14px;
	float: none;
}
.opt02-v2 .sidebar-wrap .search-form input[type="submit"] {
	width: 32px;
	height: 28px;
	line-height: 28px;
	padding: 0;
	background-color: #ffffff;
	text-align: center;
	position: absolute;
	right: 0;
	top: 0;
	background-image: none;
	float: none;
	font-family: FontAwesome;
	font-size: 14px;
	border-radius:0px;
}
.opt02-v2 .the_menu {
	display: none !important;
}
.opt02-v2 .mobi_nav_area.m_show {
	display: none !important;
}
.opt02-v2 .sub_foot ul {
	box-shadow: none;
	border-top: 1px solid #f3f3f3;
}