.opt-section1 h1 {
    text-align: center;
}
.opt-section1 {
    margin-bottom: 30px;
}
.allinone_carousel {
    width: 100% !important;
}

.allinone_carousel .contentHolder {
    width: 100vw !important;
    left: calc(-50vw + 49%);
}

.opt-section1 .allinone_carousel.charming .contentHolderUnit {
    width: 901px;
    height: 592px;
}

.opt-section5 .allinone_carousel.charming .contentHolderUnit {
    width: 817px;
    height: 409px;
}

.allinone_carousel.charming .leftNav {
    left: 0;
    width: 55px;
    height: 34px;
    background: url('https://i.imgur.com/eWXCnGA.png') 0 0 no-repeat;
}

.allinone_carousel.charming .leftNav:hover {
    background: url('https://i.imgur.com/3AkXFU2.png') 0 0 no-repeat;
}

.allinone_carousel.charming .rightNav {
    right: 0;
    width: 55px;
    height: 34px;
    background: url('https://i.imgur.com/18qQshE.png') 0 0 no-repeat;
}

.allinone_carousel.charming .rightNav:hover {
    background: url('https://i.imgur.com/BZjSSz1.png') 0 0 no-repeat;
}

.allinone_carousel.charming .bottomNav {
    width: 150px !important;
}

.allinone_carousel.charming .bottomNavButtonOFF {
    height: 14px;
    width: 14px;
    background: url('https://i.imgur.com/KJ9sNc9.png') 0 0 no-repeat;
    padding-left: 0;
    margin-right: 8px;
}


.allinone_carousel.charming .bottomNavButtonON {
    background: url('https://i.imgur.com/qNhcLiq.png') 0 0 no-repeat;
}

.opt-section1, .opt-section2, .opt-section3, .opt-section4, .opt-section5, .opt-section6, .opt-section7  {
    padding: 0;
}

.opt-section4, .opt-section6, .opt-section2 .opt-enquireStoreLocation, .opt-section4 .opt-banner {
    margin-top: 24px;
}

.opt-section2 p.opt-title, .opt-section2 p.opt-subtitle {
    margin-bottom: 10px;
}

.opt-section2 .opt-title, .opt-section6 .opt-title {
    color: #194D99;
    font-family: "Open Sans";
    font-size: 27px;
    font-weight: bold;
    line-height: 37px;
}

.opt-section2 .opt-subtitle, .opt-section6 .opt-subtitle {
    color: #194D99;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
}

.opt-section2 .opt-description {
    color: #000000;
    font-family: "Open Sans";
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 18px;
}

/* services layout */
.opt-services {
    margin: 0;
}

.opt-services .opt-item {
    height: 249.34px;
    border-radius: 6px;
    background-color: #17438E;
    position: relative;
}

.opt-services .opt-item .opt-image {
    height: 171.48px;
    position: relative;
}

.opt-services .opt-item .opt-image img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.opt-services .opt-item .opt-cornerRibbon {
    background-color: #FFEA01;
    border-radius: 1px;
    position: absolute;
    left: -6px;
    bottom: 20px;
    height: 57.86px;
    text-align: center;
    width: 97%;
}

.opt-services .opt-item .opt-cornerRibbon:before {
    content: "";
    border-top: 3px solid #c1b205;
    border-left: 6px solid transparent;
    border-right: 0px solid transparent;
    position: absolute;
    bottom: -3px;
    left: 0;
}

.opt-services .opt-item .opt-cornerRibbon:after {
    content: "";
    background-color: #17438E;
    -webkit-transform: rotate(24deg);
    -moz-transform: rotate(24deg);
    -ms-transform: rotate(24deg);
    -o-transform: rotate(24deg);
    position: absolute;
    padding: 7px 0;
    right: -10px;
    top: -1px;
    height: 70px;
    width: 32px;
    overflow: hidden;
    border-radius: 0 50px 0 0;
}

.opt-services .opt-item .opt-cornerRibbon span {
    color: #17438E;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    width: 85%;
}

/* banner enquire */
.opt-enquireStoreLocation {
    height: 150px;
    position: relative;
    overflow: hidden;
}

.opt-enquireStoreLocation .opt-imagebanner {
    height: 100%;
    width: auto;
    position: absolute;
}

.opt-enquireStoreLocation .opt-storeLocator, .opt-enquireStoreLocation .opt-location, .opt-enquireStoreLocation .opt-buttons, .opt-enquireStoreLocation .opt-mail {
    z-index: 2;
}

.opt-enquireStoreLocation .opt-contentBanner {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.opt-enquireStoreLocation .opt-mail img, .opt-enquireStoreLocation .opt-location img {
}

.opt-enquireStoreLocation a {
    height: 57px;
    width: 227px;
    border-radius: 6px;
    background-color: #FFEA01;
    color: #17438E;
    line-height: 24px;
    font-size: 22px;
    outline: none;
    display: block;
    text-align: center;
}

.opt-enquireStoreLocation a img {
    padding-right: 2px;
    margin-top: -3px;
}

.opt-enquireStoreLocation .opt-buttons a:nth-child(1) {
    border: none;
    display: block;
    margin-bottom: 6px;
    line-height: 56px;
}

.opt-enquireStoreLocation .opt-buttons a:nth-child(2) {
    background-color: transparent;
    font-size: 17px;
    text-transform: uppercase;
    color: #FFEA01;
    border: 2px solid #FFEA01;
    line-height: 54px;
}

.opt-enquireStoreLocation .opt-storeLocator a {
    border: none;
}

.opt-enquireStoreLocation .opt-storeLocator a img {
    position: relative;
    top: 4;
}

.opt-enquireStoreLocation .opt-storeLocator a span {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
}

.opt-section4 .opt-title {
    font-size: 26px;
    font-weight: bold;
    line-height: 36px;
    text-align: center;
}

.opt-section4 .opt-reviews {
    min-height: 213px;
    border-radius: 6px;
    background-color: #F2F2F2;
    color: #17448E;
    font-family: "Open Sans";
    padding: 16px 54px;
}

.opt-section4 .opt-reviews .opt-review {
    display: flex;
    flex-wrap: wrap;
}

.opt-section4 .opt-reviews .opt-review img {
    height: 100px;
    width: 100px;
    margin-right: 20px;
    border-radius: 6px;
    box-shadow: 2px 2px 2px #dad7d7;
}

.opt-section4 .opt-reviews .opt-review .opt-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    order: 1;
    width: calc(100% - 149px);
}

.opt-section4 .opt-reviews .opt-review .opt-reviewer {
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    order: 2;
    margin-left: 120px;
}

.opt-section4 .opt-reviews .opt-review .opt-reviewer span:first-child:after {
    content: " - ";
}

.opt-section4 ul li {
    clear: inherit;
    padding: 0 !important;
    background: none !important;
}

.opt-section3, .opt-section5, .opt-section7 {
    display: inline-block;
    margin-top: 30px;
}

.opt-section3 img {
    display: inline-block;
    vertical-align: top;
    width: 47%;
}

.opt-section3 div {
    display: inline-block;
    width: 45%;
    color: #194D99;
    vertical-align: top;
    margin-top: -8px;
    margin-left: 3%;
}

h2.subtitle {
    font-size: 27px;
    font-weight: bold;
    line-height: 37px;
    margin-top: 0;
    color: #194D99;
}

.opt-section3 div ul {
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
}

.opt-section3 div ul li {
    margin-bottom: 20px;
    background: url('https://i.imgur.com/t6bnKOn.png') 0 10px no-repeat !important;
}
.opt-section3 h2.mobile {
    display: none;
}

.opt-section5 h2.subtitle {
    text-align: center;
}

.opt-section7 .showroom {
    display: none;
}

.opt-section7 .description {
    margin-top: 10px;
}

.opt-section7 .opt-enquireStoreLocation {
    margin: 24px 0;
}
@media (min-width:992px) {
    .opt-reviews ul li:nth-child(1) {
        opacity: 1 !important;
    }

    .opt-reviews ul li:nth-child(2) {
        display: none !important;
    }

    .flex-control-nav {
        display: none;
    }

}

@media (max-width: 1200px) {
    .opt-services .opt-item .opt-cornerRibbon span {
        left: 5px;
    }
}

@media (max-width: 991px) {
    .bannerControls {
        display: none;
    }
    .opt-section3 img {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }
    .opt-section3 div {
        width: 100%;
        display: block;
        margin: 0;
    }
    .opt-section3 h2.mobile {
        display: block;
    }
    .opt-section3 div h2 {
        display: none;
    }

    .opt-section7 .showroom {
        display: block !important;
    }

    .opt-section7 .showroom h2 {
        font-size: 20px;
    }

    .opt-services .col-md-3 {
        padding-bottom: 15px;
    }

    .opt-services .col-md-3:nth-child(even) {
        padding-left: 7.5px !important;
    }

    .opt-services .col-md-3:nth-child(odd) {
        padding-right: 7.5px !important;
    }

    .opt-enquireStoreLocation {
        display: none;
    }

    .opt-section4 {
        margin-top: 0;
    }

    .opt-section4 .opt-reviews {
        padding: 16px;
        margin-bottom: 0;
    }

    .opt-section4 .opt-reviews .opt-title {
        font-size: 17px;
        line-height: 23px;
        text-align: left;
    }

    .opt-section4 .opt-reviews .opt-review .opt-text {
        font-size: 14px;
        line-height: 19px;
        order: 2;
        margin: 20px 0;
        width: 100%;
    }

    .opt-section4 .opt-reviews .opt-review .opt-reviewer {
        font-size: 15px;
        line-height: 20px;
        order: 1;
        margin-left: 0;
        align-self: center;
        margin-bottom: 0;
    }

    .opt-section4 .opt-reviews .opt-review .opt-reviewer span {
        display: block;
    }

    .opt-section4 .opt-reviews .opt-review .opt-reviewer span:first-child:after {
        content: " ";
    }

    .flex-control-nav {
        bottom: 5px;
        left: 0px;
    }

    .flex-control-paging li a.flex-active {
        background: #194D99;
    }

    .flex-control-paging li a {
        background-color: transparent;
        border: 2px solid #194d99;
    }

    .flex-direction-nav {
        position: absolute;
        bottom: 12px;
        width: 100%;
        left: 4px;
    }

    .flex-direction-nav a:before {
        content: ' ';
    }

    .flex-direction-nav li a:before, .flex-direction-nav li a:after {
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        color: #194D99;
    }

    .flex-direction-nav li.flex-nav-next a:before {
        content: '\f061' !important;
    }

    .flex-direction-nav li.flex-nav-prev a:after {
        content: '\f060' !important;
    }

    .opt-services .opt-item .opt-cornerRibbon span {
        left: 16px;
    }
}

@media (max-width:767px) {
    .opt-services .col-md-3 {
        padding-top: 0 !important;
    }

}

@media (max-width: 488px) {
    .opt-services .opt-item {
        height: 127.76px;
    }

    .opt-services .opt-item .opt-image {
        height: 86.76px;
    }

    .opt-services .opt-item .opt-cornerRibbon {
        left: -4px;
        bottom: 10px;
        height: 31px;
        width: 97%;
    }

    .opt-services .opt-item .opt-cornerRibbon:before {
        border-left: 4px solid transparent;
    }

    .opt-services .opt-item .opt-cornerRibbon:after {
        height: 41px;
        width: 28px;
        top: -2px;
        border-radius: 0 85px 32px 0;
    }

    .opt-services .opt-item .opt-cornerRibbon span {
        font-size: 10px;
        line-height: 12px;
    }

    .opt-section2 .opt-services div:nth-child(1) .opt-item .opt-image img, .opt-section2 .opt-services div:nth-child(2) .opt-item .opt-image img, .opt-section2 .opt-services div:nth-child(4) .opt-item .opt-image img {
        height: 80%;
    }

    .opt-services .opt-item img {
        height: 60%;
    }

    .opt-section5 h2.subtitle {
        text-align: left !important;
    }
}