.opt-section4 .flex-direction-nav a:before {
    content: none;
}

.opt-section4 .flex-control-nav {
    bottom: 0;
}

.opt-section4 .flex-control-paging li a {
    height: 15px;
    width: 15px;
    background: transparent;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

.opt-section4 .flex-control-paging li a.flex-active {
    background: #194D99;
}

.materials_sub ul li {
    background-image: none !important;
    padding: 0 !important;
}
.ck-slider-5 .slick-dots {
  bottom: -65px;
}
.opt-section1 .slick-dots {
    bottom: -104px !important;
}
.content .opt-services .col-md-3:last-of-type {
    padding-right: 0;
}

.ck-flickable-slider {
    width: 100vw;
    left: 0;
    padding: 30px 0 150px;
    margin-top: 30px;
    overflow-x: hidden;
}

.opt-section5 .ck-flickable-slider {
    width: 100%;
    overflow-x: hidden;
    padding-bottom: 110px;
}
.ck-flickable-slider.opt-section5 .opt-buttons {
  bottom: 30px;
}
.slick-list {
    overflow: visible;
}

.slick-slide {
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 901px;
    z-index: 0;
    position: relative;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.ck-flickable-slider img {
    max-height: 100%;
    max-width: 100%;
}

.slick-center {
    -webkit-transform: scale(1.25);
    -ms-transform: scale(1.25);
    transform: scale(1.25);
}

.slick-slide.slick-current {
    z-index: 10;
}

.slide {
    position: relative;
    float: left;
}

.slick-slide:not(.slick-current):after {
    content: '';
    background: rgb(255, 255, 255);
    background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#ffffff", GradientType=1);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.slick-slide.slick-current+.slick-slide:after {
    background: rgb(255, 255, 255);
    background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 70%);
    background: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 70%);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 70%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#ffffff", GradientType=1);
}

.ck-flickable-slider .opt-buttons {
    height: 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    bottom: 28px;
    position: absolute;
    left: 50%;
    -webkit-transform: translatex(-50%);
    -ms-transform: translatex(-50%);
    transform: translatex(-50%);
}

.ck-flickable-slider .opt-buttons .opt-prev {
    background: url('//useruploads.visualwebsiteoptimizer.com/useruploads/312453/images/df4689e64def86d34f083417107421f8_arrow.png') 0 0 no-repeat;
    left: 0;
}

.flex-direction-nav li.flex-nav-prev a {
    background: url('//useruploads.visualwebsiteoptimizer.com/useruploads/312453/images/0c0a273a48a7d423a810c77050acc6e9_arrow_small.png') 0 0 no-repeat;
}

.ck-flickable-slider .opt-buttons .opt-next {
    right: 0;
    background: url('//useruploads.visualwebsiteoptimizer.com/useruploads/312453/images/228052884997a78d05ea1771cf6f8669_arrow_right.png') 0 0 no-repeat;
}

.flex-direction-nav li.flex-nav-next a {
    background: url('//useruploads.visualwebsiteoptimizer.com/useruploads/312453/images/11f3d98d40ab127194e6ba8e6f42f557_arrow_small_right.png') 0 0 no-repeat;
}

.flex-direction-nav li.flex-nav-prev a, .flex-direction-nav li.flex-nav-next a {
    height: 20px;
    width: 17px;
}

.flex-direction-nav li.flex-nav-prev a:before, .flex-direction-nav li.flex-nav-next a:before {
    content: none;
}

.ck-flickable-slider .opt-buttons:after,
.ck-flickable-slider .opt-buttons:before {
    display: none;
}

.ck-flickable-slider .opt-buttons .slick-arrow {
    width: 45px;
    height: 27px;
    cursor: pointer;
    background-position: center;
    -webkit-background-size: contain;
    background-size: contain;
}

.slick-dots {
    position: absolute;
    display: block;
    width: 250px;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    bottom: -75px;
    z-index: 99;
    left: 50%;
    -webkit-transform: translatex(-50%);
    -ms-transform: translatex(-50%);
    transform: translatex(-50%);
    height: 0;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    background: white;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 10px;
    height: 10px;
    padding: 5px;
    cursor: pointer;
    border: 0;
    outline: none;
    border-radius: 50%;
    border: 2px solid #17438E;
    background: white;
}

.slick-dots li.slick-active button {
    background: #17438E;
}

.opt-section1 h1 {
    text-align: center;
}
.opt-section1,
.opt-section2,
.opt-section3,
.opt-section4,
.opt-section5,
.opt-section6,
.opt-section7 {
    padding: 0;
}

.opt-section4,
.opt-section6,
.opt-section2 .opt-enquireStoreLocation,
.opt-section4 .opt-banner {
    margin-top: 24px;
}
.opt-section7 {
    margin-bottom: 20px;
}
.opt-section2 p.opt-title,
.opt-section2 p.opt-subtitle {
    margin-bottom: 10px;
}

.opt-section2 .opt-title,
.opt-section6 .opt-title {
    color: #194D99;
    font-family: "Open Sans";
    font-size: 27px;
    font-weight: bold;
    line-height: 37px;
}

.opt-section2 .opt-subtitle,
.opt-section6 .opt-subtitle {
    color: #194D99;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
}

.opt-section2 .opt-description {
    color: #000000;
    font-family: "Open Sans";
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 18px;
}

/* services layout */
.opt-services {
    margin: 0;
}

.opt-services .opt-item {
    height: 249.34px;
    border-radius: 6px;
    background-color: #17438E;
    position: relative;
}

.opt-services .opt-item .opt-image {
    height: 171.48px;
    position: relative;
}

.opt-services .opt-item .opt-image img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.opt-services .opt-item .opt-cornerRibbon {
    background-color: #FFEA01;
    border-radius: 1px;
    position: absolute;
    left: -6px;
    bottom: 20px;
    height: 57.86px;
    text-align: center;
    width: 97%;
}

.opt-services .opt-item .opt-cornerRibbon:before {
    content: "";
    border-top: 3px solid #c1b205;
    border-left: 6px solid transparent;
    border-right: 0px solid transparent;
    position: absolute;
    bottom: -3px;
    left: 0;
}

.opt-services .opt-item .opt-cornerRibbon:after {
    content: "";
    background-color: #17438E;
    -webkit-transform: rotate(24deg);
    -moz-transform: rotate(24deg);
    -ms-transform: rotate(24deg);
    -o-transform: rotate(24deg);
    position: absolute;
    padding: 7px 0;
    right: -10px;
    top: -1px;
    height: 70px;
    width: 32px;
    overflow: hidden;
    border-radius: 0 50px 0 0;
}

.opt-services .opt-item .opt-cornerRibbon span {
    color: #17438E;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 16px;
    width: 85%;
}

/* banner enquire */
.opt-enquireStoreLocation {
    height: 150px;
    position: relative;
    overflow: hidden;
}

.opt-enquireStoreLocation .opt-imagebanner {
    height: 100%;
    width: auto;
    position: absolute;
}

.opt-enquireStoreLocation .opt-storeLocator,
.opt-enquireStoreLocation .opt-location,
.opt-enquireStoreLocation .opt-buttons,
.opt-enquireStoreLocation .opt-mail {
    z-index: 2;
}

.opt-enquireStoreLocation .opt-contentBanner {
    width: 90%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}

.opt-enquireStoreLocation .opt-mail img,
.opt-enquireStoreLocation .opt-location img {}

.opt-enquireStoreLocation .opt-buttons a,
.opt-enquireStoreLocation .opt-storeLocator a {
    height: 57px;
    width: 227px;
    border-radius: 6px;
    background-color: #FFEA01;
    color: #17438E;
    line-height: 24px;
    font-size: 22px;
    outline: none;
    display: block;
    text-align: center;
}

.opt-enquireStoreLocation .opt-buttons a img,
.opt-enquireStoreLocation .opt-storeLocator a img {
    padding-right: 2px;
    margin-top: -3px;
}

.opt-enquireStoreLocation .opt-buttons a:nth-child(1) {
    border: none;
    display: block;
    margin-bottom: 6px;
    line-height: 56px;
}

.opt-enquireStoreLocation .opt-buttons a:nth-child(2),
.opt-enquireStoreLocation .opt-storeLocator a:nth-child(2) {
    background-color: transparent;
    font-size: 17px;
    text-transform: uppercase;
    color: #FFEA01;
    border: 2px solid #FFEA01;
    line-height: 54px;
}

.opt-enquireStoreLocation .opt-storeLocator a {
    border: none;
}

.opt-enquireStoreLocation .opt-storeLocator a img {
    position: relative;
    top: 4;
}

.opt-enquireStoreLocation .opt-storeLocator a span {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
}

.opt-section4 .opt-title {
    font-size: 26px;
    font-weight: bold;
    line-height: 36px;
    text-align: center;
}

.opt-section4 .opt-reviews {
    min-height: 213px;
    border-radius: 6px;
    background-color: #F2F2F2;
    color: #17448E;
    font-family: "Open Sans";
    padding: 16px 54px;
    padding-bottom: 8px;
}

.opt-section4 .opt-reviews .subtitle {
    text-align: center;
}

.opt-section4 .opt-reviews ul {
    margin-bottom: 0;
    overflow: hidden;
}

.opt-section4 .opt-reviews .opt-review {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.opt-section4 .opt-reviews .opt-review img {
    height: 100px;
    width: 100px;
    margin-right: 20px;
    border-radius: 6px;
    -webkit-box-shadow: 2px 2px 2px #dad7d7;
    box-shadow: 2px 2px 2px #dad7d7;
}

.opt-section4 .opt-reviews .opt-review .opt-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    width: -webkit-calc(100% - 149px);
    width: calc(100% - 149px);
}

.opt-section4 .opt-reviews .opt-review .opt-reviewer {
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    margin-left: 120px;
}

.opt-section4 .opt-reviews .opt-review .opt-reviewer span:first-child:after {
    content: " - ";
}

.opt-section4 ul li {
    clear: inherit;
    padding: 0 !important;
    background: none !important;
}

.opt-section5 {
    width: 100%;
}

.opt-section3,
.opt-section5,
.opt-section7 {
    display: inline-block;
    margin-top: 30px;
}

.opt-section3 img {
    display: inline-block;
    vertical-align: top;
    width: 47%;
}

.opt-section3 div {
    display: inline-block;
    width: 45%;
    color: #194D99;
    vertical-align: top;
    margin-top: -8px;
    margin-left: 3%;
}

h2.subtitle {
    font-size: 27px;
    font-weight: bold;
    line-height: 37px;
    margin-top: 0;
    color: #194D99;
}

.opt-section3 div ul {
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
}

.opt-section3 div ul li {
    margin-bottom: 20px;
    background: url('//useruploads.visualwebsiteoptimizer.com/useruploads/312453/images/978d5fd0f6332e4d729b4897de3fb0b4_tick_.png') 0 10px no-repeat !important;
    padding-left: 20px !important;
}

.opt-section3 h2.mobile {
    display: none;
}

.opt-section5 h2.subtitle {
    text-align: center;
    margin-bottom: 0;
}

.opt-section7 .showroom {
    display: none;
}

.opt-section7 .description {
    margin-top: 10px;
}

.opt-section7 .opt-enquireStoreLocation {
    margin: 24px 0;
}

@media (min-width:992px) {
    .opt-reviews ul li:nth-child(1) {
        opacity: 1 !important;
    }

    .opt-reviews ul li:nth-child(2) {
        display: none !important;
    }

    .flex-control-nav {
        display: none;
    }

}

@media (max-width: 1200px) {
    .opt-services .opt-item .opt-cornerRibbon span {
        left: 5px;
    }
}

@media (max-width: 991px) {
    .bannerControls {
        display: none;
    }
    .ck-flickable-slider {
        padding: 30px 0 120px;
    }

    .opt-section3 img {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }

    .opt-section3 div {
        width: 100%;
        display: block;
        margin: 0;
    }

    .opt-section3 h2.mobile {
        display: block;
    }

    .opt-section3 div h2 {
        display: none;
    }

    .opt-section7 .showroom {
        display: block !important;
    }

    .opt-section7 .showroom h2 {
        font-size: 20px;
    }

    .opt-services .col-md-3 {
        padding-bottom: 15px;
    }

    .opt-services .col-md-3:nth-child(even) {
        padding-left: 4px !important;
    }

    .opt-services .col-md-3:nth-child(odd) {
        padding-right: 4px !important;
    }

    .opt-enquireStoreLocation {
        display: none;
    }

    .opt-section4 {
        margin-top: 0;
    }

    .opt-section4 .opt-reviews {
        padding: 16px;
        margin-bottom: 0;
    }

    .opt-section4 .opt-reviews .opt-title {
        font-size: 17px;
        line-height: 23px;
        text-align: left;
    }

    .opt-section4 .opt-reviews .opt-review .opt-text {
        font-size: 14px;
        line-height: 19px;
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2;
        margin: 20px 0;
        width: 100%;
    }

    .opt-section4 .opt-reviews .opt-review .opt-reviewer {
        font-size: 15px;
        line-height: 20px;
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1;
        margin-left: 0;
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        align-self: center;
        margin-bottom: 0;
    }

    .opt-section4 .opt-reviews .opt-review .opt-reviewer span {
        display: block;
    }

    .opt-section4 .opt-reviews .opt-review .opt-reviewer span:first-child:after {
        content: " ";
    }

    .flex-control-nav {
        bottom: 5px;
        left: 0px;
    }

    .flex-control-paging li a.flex-active {
        background: #194D99;
    }

    .flex-control-paging li a {
        background-color: transparent;
        border: 2px solid #194d99;
    }

    .flex-direction-nav {
        position: relative;
        width: 100%;
        left: 0;
        height: 40px;
        top: 31px;
    }

    .flex-direction-nav a:before {
        content: ' ';
    }

    .opt-services .opt-item .opt-cornerRibbon span {
        left: 16px;
    }
    .opt-section1 .slick-dots {
        bottom: -75px !important;
    }
    .opt-section4 .opt-reviews ul, 
    .opt-section4 .flex-control-nav {
        margin-bottom: 10px;
    }
}

@media (max-width:767px) {
    .opt-services .col-md-3 {
        padding-top: 0 !important;
    }

    .opt-buttons {
        width: 100%;
    }

    .slick-dots li {
        width: 15px;
        height: 15px;
    }
    .ck-flickable-slider {
        padding: 10px 0 120px;
    }
    
}

@media (max-width: 520px) {
    h2.subtitle,.opt-section2 .opt-title, .opt-section6 .opt-title {
        font-size: 20px;
        line-height: 27px;
    }
    .opt-section2 .opt-subtitle, .opt-section6 .opt-subtitle {
        font-size: 16px;
    }
    .opt-section3 div ul {
        font-size: 16px;
    }
    .opt-section3 div ul li {
        margin-bottom: 15px;
    }
    .opt-buttons.container {
        display: none;
    }

    .opt-section4 .opt-reviews .subtitle {
        text-align: left;
        font-size: 17px;
        line-height: 23px;
    }
}

@media (max-width: 488px) {
    .opt-services .opt-item {
        height: 127.76px;
    }

    .opt-services .opt-item .opt-image {
        height: 86.76px;
    }

    .opt-services .opt-item .opt-cornerRibbon {
        left: -4px;
        bottom: 10px;
        height: 31px;
        width: 97%;
    }

    .opt-services .opt-item .opt-cornerRibbon:before {
        border-left: 4px solid transparent;
    }

    .opt-services .opt-item .opt-cornerRibbon:after {
        height: 41px;
        width: 28px;
        top: -2px;
        border-radius: 0 85px 32px 0;
    }

    .opt-services .opt-item .opt-cornerRibbon span {
        font-size: 10px;
        line-height: 12px;
        left: 0;
    }

    .opt-section2 .opt-services div:nth-child(1) .opt-item .opt-image img,
    .opt-section2 .opt-services div:nth-child(2) .opt-item .opt-image img,
    .opt-section2 .opt-services div:nth-child(4) .opt-item .opt-image img {
        height: 80%;
    }

    .opt-services .opt-item img {
        height: 60%;
    }

    .opt-section5 h2.subtitle {
        text-align: left !important;
    }
  
  .ck-flickable-slider.ck-slider-1 {
        height: 320px;
    overflow: hidden;
    }
    .ck-flickable-slider.ck-slider-1 ul.slick-dots {
        bottom: -38px !important;
    }
}

@media (max-width: 400px) {
    .slick-dots li {
        width: 13px;
        height: 15px;
    }
}