.opt_ButtonContainer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    float: none;
}
.opt_Hide {
    display: none !important;
}
.opt_VisbilityHidden {
    visibility: hidden !important;
}

.wpsl-store-location {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.store_img {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    float: none;
}
.opt_Button {
    margin: 0 !important;
}
.store_img .opt_Container {
    background: #194d99;    
    color: white;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 420px;
}

.store_img p{
    margin: 0 !important;
}
    
#wpsl-stores .store_img img {
    margin: 5px !important;
    width: 98% !important;
    border: 5px solid white;
}

#wpsl-stores .opt_PContainer img {
    width: initial !important;
  -webkit-filter: brightness(0)invert(1);
  filter: brightness(0)invert(1);
}

.opt_Image {
    padding: 10px;
    border-radius: 5px;
}

.opt_PContainer img {
    border: none !important;;
    margin: 0 !important;
    margin-top: 5px !important;
    height: auto;
    max-width: 100% !important;
}

.opt_OpeningHoursContainer {
    background: #194d99;
    padding: 10px;
    padding-bottom: 20px;
    width: 100%;
    max-width: 300px;
}

#wpsl-wrap #wpsl-result-list .store_img ul { 
    color: white;
}
#wpsl-wrap #wpsl-result-list .store_img ul li{
    list-style: none !important;
    margin: 0;
    margin-top: -10px;
}
.opt_OpeningHoursContainer ul li div:not(.opt_Day) {
    float: left;
    text-align: right;
    width: 130px;
}

.opt_OpeningHoursContainer ul li .opt_Day {
    width: 110px;
    float:left;
}

.opt_OpeningHoursContainer .opt_Title {
    margin: 0 !important;
    color: white;
}

.opt_PContainer {
    padding-top: 10px !important;
}

.opt_PContainer a {
    color: white;
}

@media only screen and (max-width: 1024px) and (min-width: 768px) and (orientation: portrait) {
    .wpsl-store-location .store_img, .wpsl-store-location .store_add {
        margin: 0;
    }
}

@media (max-width: 991px) {
    #wpsl-wrap.wpsl-store-below #wpsl-result-list li {
        padding-right: 0;
    }
    .store_img {
    padding-right: 0 !important;
    }
    .wpsl-store-location {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .opt_ButtonContainer {
        width: 100%;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        margin-top: 10px;
    }
    
    .opt_OpeningHoursContainer ul li div {
        width: initial;
        float: right;
    }

    .store_add:after {
        left: initial;
        right: 0;
    }
    .store_add > p:nth-child(1) {
        max-width: 170px;
    }
    .store_add .opt_Button {
        margin: 0;
        display: block;
        float: none;
        width: 48%;
        margin: auto;
        margin-bottom: 10px !important;
    }
    .store_add .wpsl-direction-wrap {
        float: none;
        margin: auto;
    }
}

@media (max-width: 689px) {
    .store_img .opt_Container {
        width: 100%;
    }
    .store_img {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;   
    }
    .opt_OpeningHoursContainer {
        max-width: initial;
    }
    #wpsl-wrap #wpsl-result-list .store_img ul {
        max-width: 250px;
    }
}

@media (max-width: 500px) {
    .store_img .opt_Container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    
    .opt_PContainer p {
        float: left;
    }
    #wpsl-stores .opt_PContainer {
        position: relative;  
        padding: 0 10px 10px;
    }
    #wpsl-stores .opt_PContainer img {
        right: 0;
        top: 0px;
        position: absolute;
    }
    .padd-right-15{
        padding-right: 0 !important;
    }
}
@media (max-width: 490px) {
    .opt_Button {
        margin: 0;
        font-size: 9px;
        width: auto;
        margin: auto;
        font-weight: 100;
    }
}

@media(max-width: 355px) {
 .wpsl-store-below #wpsl-result-list p {
    max-width: 150px;
}
   
}